<h1><%= @division.department %></h1>

<p>This is the detail page for <%= @division.department %>. Here you can change the name of the department or delete it all together!</p>

<a href="/">Return to Main Page</a>
